* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  line-height: 1.6;
}

img {
  width: 200px;
  height: 200px;
  padding: 20px;
  cursor: pointer;
}

img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 200px;
  padding: 80px 0;
  justify-content: center;
  align-items: flex-start;
}

.card {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: 430px;
  flex-wrap: wrap;
}

.star {
  position: absolute;
  margin-top: -400px;
  margin-right: -340px;
  font-size: 30px;
  color: gray;
  align-items: flex-start;
  cursor: pointer;
  transition: color 0.3s ease;
}

.star.active {
  color: gold;
}

.card__price{
    background-color: yellow;
    padding: 10px;
    border-radius: 5px;
}